<div class="air-quality-container">
    <h3 class="rota-blk m-0">
        {{info.title}}
    </h3>
    <div class="row m-0">
        <div class="col-md-6 mt-1 m-0 rota-b d-flex align-items-center justify-content-center">
            <div class="">
                <span class=" tot-cnt font-xxl">
                    {{info.value}}
                </span>
            </div>
        </div>
        <div class="col-md-6 m-0">
            <div class="d-flex flex-column mob-center mob-mt">
                <div class="max-min-container rota-r border-btm">
                    <span style="color: #6DD0A5;">
                        <svg xmlns="/src/assets/arrow-up.svg" width="16" height="16" fill="currentColor"
                            class="bi bi-arrow-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z">
                            </path>
                        </svg>
                    </span>
                    &nbsp; &nbsp;
                    <h3 class=" max-min-cnt m-0">
                        {{info.max}}
                    </h3>

                </div>
                <div class="max-min-container mt-1">
                    <span style="color: orange">
                        <svg xmlns="/src/assets/arrow-down.svg" width="16" height="16" fill="currentColor"
                            class="bi bi-arrow-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z">
                            </path>
                        </svg>
                    </span>
                    &nbsp; &nbsp;
                    <h3 class="max-min-cnt m-0">
                        {{info.min}}
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>