.audio-container {
 .audio-row {
     div {
         margin-right: 0.5rem;
     }
 }
    .play-div {
        padding: 0.4rem;
        padding-right: 1rem;
        background-color: #6DD0A5;
        border-radius: 10px;
        color: white;
    }
}