<div class="display-container">
    <h3 class="rota-blk m-0 mob-center">
        {{info.title}}
    </h3>
    <div class="d-flex flex-row mt-4">
    <div class="border-r pr-3 rota-b">
        <div class="text-blue rota-blk">
            <span style="font-size: xxx-large;">
                {{info.value}}
            </span>
            <span>
                /{{info.total}}
            </span>
        </div>
    </div>
    <div class="text-gray pl-3">
        <div class="rota-m">On Time</div>
        <div class=" rota-blk">
            <span>{{info.onTimeMin}}</span>
            <span>:{{info.onTimeSec}}</span>
        </div>
    </div>
</div>
</div>