/* You can add global styles to this file, and also import other style files */
body {
    background-color: #f6f6f6;
}

h1,h2,h3,h4,h5,h6 {
    font-family: rota-black;
}

.rota-blk {
    font-family: rota-black;
}

.rota-b {
    font-family: rota-bold;
}
.rota-m {
    font-family: rota-meidum;
}

.rota-r {
    font-family: rota-regular;
}

.text-blue {
    color: #5448C8;
}
.text-green {
    color: #6DD0A5;
}
.text-black {
    color: #2D2D2D;
}
.text-gray {
    color: #999999;
}
.font-xxl {
    font-size: xx-large;
}
.font-xl {
    font-size: x-large;
}
@font-face {
    font-family: rota-black;
    src: url(assets/Rota/Rota-Black.otf) format("opentype");
  }
  @font-face {
    font-family: rota-bold;
    src: url(assets/Rota/Rota-Bold.otf) format("opentype");
  }
  @font-face {
    font-family: rota-meidum;
    src: url(assets/Rota/Rota-Medium.otf) format("opentype");
  }
  @font-face {
    font-family: rota-regular;
    src: url(assets/Rota/Rota-Regular.otf) format("opentype");
  }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    ::ng-deep .mob-center {
        align-items: center !important;
    }
}